.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__iteam {
    width: calc((100% - 60px) / 3);
    transition: box-shadow var(--tra);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__link {
    text-decoration: none;
}

.projects__wrap {
    position: relative;
    overflow: hidden;
}

.projects__text {
    position: absolute;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    padding: 63px 24px;
    transform: translateY(100%);
    height: 100%;
    transition: var(--tra);
    .projects__iteam:hover & {
        transform: translateY(0);
    }
}

.projects__border {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.projects__name {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects__type {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
