.footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }  
}

.footer-wrap {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}


.footer__address {
    text-align: center;
    @media screen and (min-width:768px) {
        margin-right: 155px;
        margin-left: 69px;
    }
    @media screen and (min-width:1200px) {
        margin-right: 70px;
        margin-left: 0;
        text-align: left;
    }
}

.footer-company__logo {
    color: var(--accent-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 20px;
}

.company__logo--light {
    color: var(--primary-white-color);
}

.address-wrap {
    margin-top: 20px;
}

.footer-list {
    margin-bottom: 60px;
    @media screen and (min-width:1200px) {
        margin-bottom: 0px;
    }
  
}

.footer-list__iteam:not(:last-child) {
    margin-bottom: 8px;
}

.footer-list__address {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    transition: color var(--tra);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-list__contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
    transition: color var(--tra);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__social {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 79px;
    }
    @media screen and (min-width:1200px) {
        margin-right: 93px;
        align-items: unset;;
    }
}

.footer-title {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    @media screen and (min-width:1200px) {
        text-align: start;
    }
}

.social-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 60px;
}

.social-wrap__iteam {
    width: 44px;
    height: 44px;
}

.social-wrap__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--primary-white-color);
    transition: background-color var(--tra);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer-follow {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width:1200px) {
        text-align: left;
    }
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width:1200px) {
    flex-direction: row;
    align-items: start;
        }
}

.footer-form__input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: var(--primary-white-color);
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
    margin-bottom: 20px; 
    @media screen and (min-width:1200px) {
        width: 358px;
        margin-right: 12px;
    }
}

.footer-form__button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-form__icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
}

 


