.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__navigation {
    display: flex;
    margin-right: auto;
}

.logo {
    color: var(--accent-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.company__logo--dark {
    color: var(--primary-black-color);
}

.site-navigation {
    // display: flex;
    display: none;
    align-items: center;
    gap: 50px;
}

.site-navigation__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    transition: color var(--tra);
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    &.current::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
        bottom: -1px;
    }
    &.current {
        color: var(--accent-color);
    }
}

.company-contact {
    // display: flex;
    display: none;
    gap: 30px;
}

.company-contact__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--tra);
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
        display: none;
}

.company-contact__icon {
    margin-right: 10px;
    fill: currentColor;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.menu-open {
    background-color: transparent;
    border: none;
    justify-content: flex-end;
    padding: 0;
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-bottom: 48px; 
    z-index: 1;
}

.menu-close {
    background-color: transparent;
    border: none;
    justify-content: flex-end;
    display: block;
    margin-left: auto;
}

.mobile-container__icon {
padding-top: 10px;
padding-right: 15px;
}

.menu-navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    text-decoration: none;
}

.menu-navigation__iteam:not(:last-child) {
    margin-bottom: 32px;
    
}

.menu-navigation__iteam {
    margin-bottom: 306px;
}

.menu-contact__iteam:not(:last-child) {
    margin-bottom: 32px;
}

.menu-contact__iteam:last-child {
    margin-bottom: 64px;
}


.menu-contact__link--menu {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

.menu-contact__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
}

.menu-social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

}

.menu-social__link {
    text-decoration: none;
    color: var(--accent-color);
    position: relative;
}

.menu-social__link::after {
    content: '';
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}

