.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity var(--tra), visibility var(--tra);
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(0) rotate(0);
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) skew(-10deg) rotate(-180deg);
        }
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: var(--tra);
    &:hover {
        fill: var(--accent-color);
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
    margin-bottom: 12px;
}

.modal-button {
    min-width: 200px;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 auto;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 12px;
    outline: transparent;
    transition: var(--tra);
    padding-left: 42px;
    cursor: pointer;
    &:focus,
    &:hover {
        border-color: var(--accent-color);
    }
}

.input-wrap {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}
 
.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: var(--tra);
    .modal-input:focus + &,
    .modal-input:hover + & {
        fill: var(--accent-color);
    }
}

.label-input {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.comment-form {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 4px;
    resize: none;
    transition: var(--tra);
    outline: transparent;
    cursor: pointer;
    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-field-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.policy-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
}

.doc-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-left: 3px;
}

.policy-text span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-black-color);
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: var(--tra);
    .input-policy:checked + & {
        background-color: var(--accent-color);
        fill: var(--primary-white-color);
        border: none;
    }
    .input-policy:focus + & {
        border-color: var(--accent-color);
    
    }
}

