:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --primary-background-color: #2F303A;
    --title-background-color: #F5F4FA;
    --secondary-background-color: #2F303A;
    --primary-icon-color: #AFB1B8;
    --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}